extends layout

block content
  h1= 'Mini Message Board Express App'
  head
    title Messages
  body
    h3 Message List
      div
        ul
          each message in messages
            li
              strong User: #{message.user}
              div Text: #{message.text}
              Date: #{message.added}

  a(href='new') Create a new message

